.contact {
    background: $color2;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    color: #fff;
    font-size: 14px;
}

.contact h3 {
    font-size: 25px;
    font-weight: 500;
}

.contact form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.contact form input,
.contact form button {
    border: 2px solid $color3;
    border-radius: 5px;
    margin-top: 20px;
    height: 40px;
    width: 280px;
    padding: 10px;
}

.contact form input {
    position: relative;
    &:focus,
    &:active {
        outline: none;
        border: 2px solid $color3;
        border-radius: 5px;
        background: #fff;
    }
}

.contact-input div {
    font-size: 10px;
    border: 2px solid $color3;
    border-radius: 0 0 5px 5px;
    height: 20px;
    width: 280px;
    line-height: 15px;
    background: $color3;
    position: relative;
    transform: translate(0, -5px);

    &::after {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        background: url("../images/icon-error.svg");
        position: absolute;
        right: 10px;
        top: -30px;
    }
}

.contact form button {
    background: $color3;
    color: #fff;
}

@media (min-width: 800px) {
    .contact form {
        width: 500px;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-input input {
        width: 280px;
    }

    .contact-input div {
        width: 280px;
    }

    .contact form button {
        width: 100px;
    }

}
