.extensions {
    margin-bottom: 100px;
}

.extensions article {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
    box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
    border-radius: 10px;
    margin-bottom: 30px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;

    h3 {
        margin-top: 40px;
    }

    p {
        font-size: 15px;
    }

    button {
        margin-top: 20px;
        background: $color2;
        color: #fff;
        height: 50px;
        width: 200px;
        border-radius: 5px;
        border: 2px solid $color2;
        font-weight: 500;

        &:hover,
        &:active,
        &:focus {
            background: #fff;
            color: $color2;
        }
    }
}

@media (min-width: 1000px) {
    .extensions-articles {
        display: flex;
        
    }

    .extensions-articles article:nth-child(2) {
        transform: translate(0, 30px);
    }

    .extensions-articles article:nth-child(3) {
        transform: translate(0, 60px);
    }
}
