.footer {
    padding: 30px;
    background: #242946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.footer a {
    color: #bbb;

    &:hover {
        color: $color3;
    }
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        margin: 10px;
    }
}

.footer-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.footer-icons a {
    display: block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 800px) {
    .footer {
        flex-direction: row;
    }

    .footer ul {
        flex-direction: row;
    }

    .footer * {
        margin: 0;
    }
}
