@import "./reset";

$color1: #222;
$color2: hsl(231, 69%, 60%);
$color3: hsl(0, 94%, 66%);
$font1: "Rubik", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: $font1;
}

body {
    font-family: $font1;
    font-size: 18px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $color1;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 500;
}

p {
    color: gray;
    margin-bottom: 30px;
}

button,
button:active,
button:focus {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.hidden {
    display: none;
}



@import "./header";
@import "./start";
@import "./features";
@import "./extensions";
@import "./faq";
@import "./contact";
@import "./footer";
