.start {
    padding-top: 100px;
}

.start .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-img {
    position: relative;
    height: 240px;
    margin-bottom: 100px;

    img {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: auto;
    }

    &:after {
        content: "";
        display: block;
        top: 40px;
        left: 80px;
        width: 350px;
        height: 220px;
        background: $color2;
        border-radius: 110px 0 0 110px;
        position: absolute;
        z-index: -1;
    }
}

.start-art {
    text-align: center;

    button {
        font-weight: 500;
        border-radius: 5px;
        height: 50px;
        width: 120px;
        background: #eee;
        transition: 250ms ease-in-out, transform 150ms ease;
        margin-left: 10px;
        margin-right: 10px;
    }
    button:hover,
    button:focus {
        background: $color2;
        color: white;
    }
}


@media (min-width: 800px) {

    .start .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .start-art {
        width: 50%;
    }
}